body {
    background: url(../login/1.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    
}

div.center {
    color: gray;
    border-radius: 4px;
    background-color: #f2f2f2;
    padding: 30px;
}


.center {

    margin:auto;

}


input[type=email], select {
    width: 100%;
    padding: 10px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=text], select {
    width: 100%;
    padding: 10px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=password], select {
    width: 100%;
    padding: 10px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: dodgerblue;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    margin-bottom:0px; 
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type=submit] {
    width: 100%;
    background-color: dodgerblue;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    margin-bottom:0px; 
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

p[type=register] {
    color: gray;
    text-align: center;
    font-size: 15px;
}

span[type=account]{
    cursor: pointer; 
    cursor: hand;
    color: dodgerblue;
}

